<style type="text/css">
    .creole-input {
        width: 800px;
        height: 400px;
        border: 1px solid lightgrey;
        resize: none;
    }

    .creole-preview {
        border: 1px dotted red;
        padding: 3px;
    }

    .filesTable td {
        padding: 3px;
    }
</style>

<h2>Seite bearbeiten</h2>

<seite-edit></seite-edit>

@*using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { id = "contentForm" })) {



    @section Footer {
        <script type="text/javascript">

            function insertText(text)
            {
                $("#creole-input").insertAtCaret(text);
            }

            $(document).ready(function ()
            {
                // On Insert
                jQuery.fn.extend({
                    insertAtCaret: function (myValue)
                    {
                        return this.each(function (i)
                        {
                            if (document.selection)
                            {
                                //For browsers like Internet Explorer
                                this.focus();
                                sel = document.selection.createRange();
                                sel.text = myValue;
                                this.focus();
                            }
                            else if (this.selectionStart || this.selectionStart == '0')
                            {
                                //For browsers like Firefox and Webkit based
                                var startPos = this.selectionStart;
                                var endPos = this.selectionEnd;
                                var scrollTop = this.scrollTop;
                                this.value = this.value.substring(0, startPos) + myValue + this.value.substring(endPos, this.value.length);
                                this.focus();
                                this.selectionStart = startPos + myValue.length;
                                this.selectionEnd = startPos + myValue.length;
                                this.scrollTop = scrollTop;
                            } else
                            {
                                this.value += myValue;
                                this.focus();
                            }
                        })
                    }
                });
            });
        </script>
    }*@
