<div>
    <style type="text/css">
        .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            opacity: 0;
            text-align: center;
            padding-top: 10px;
            font-size: 50px;
        }

            .back:hover {
                background: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                opacity: 1;
            }

        .forward {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            opacity: 0;
            text-align: center;
            padding-top: 10px;
            font-size: 50px;
        }

            .forward:hover {
                background: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                opacity: 1;
            }
    </style>

    <h3>{{ album.titel }}</h3>

    <div ng-show="!currentImage">
        <i class="icon-spinner icon-spin" style="font-size:16px"></i> Lade ....
    </div>

    <br />

    <div ng-show="currentImage">
        <div style="position: absolute;">
            <img src="{{ currentImage.imageURL }}" />
            <div class="back" ng-click="prevImage()">
                <span class="icon-arrow-left"></span>
            </div>
            <div class="forward" ng-click="nextImage()">
                <span class="icon-arrow-right"></span>
            </div>

            <div style="position: relative">
                <br />
                Album Beschreibung: {{ album.beschreibung || '-' }}<br />
                Album erstellt am: {{ album.creationDate | date:'dd.MM.yyyy' }}<br />
                URL zum Album: <a href="{{ album.link }}" target="_blank">{{ album.link }}</a>
            </div>
        </div>


    </div>
</div>