<div>
    <input type="text" class="input" placeholder="suchen" ng-model="search" ng-model-options="{ 'debounce': 400 }" ng-change="filter()" />

    <table class="filesTable table">
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Link</th>
            <th></th>
        </tr>
        <tr ng-repeat="datei in data.dateien">
            <td>
                <a href="/Content/File/{{ datei.id }}" target="_blank" rel="noopener">
                    {{ datei.name }}
                </a>
            </td>
            <td>
                {{ datei.beschreibung }}
            </td>
            <td>
                {{ createLink(datei) }}
            </td>
            <td>
                <a ng-click="insertLink(datei)" style="cursor: pointer">Einfügen</a>
            </td>
        </tr>
        <tr ng-if="numberAdditional > 0">
            <td colspan="4">
                ... und {{ numberAdditional }} weitere
            </td>
        </tr>
    </table>

    Datei hochladen:
    <input type="file" select-ng-files ng-model="uploadFiles" />
    <input type="text" ng-model="uploadFileBezeichnung" placeholder="Beschreibung" />
    <input type="button" value="hinzufügen" ng-click="uploadFile()" />
</div>