<div>
    <div ng-show="!data">
        <i class="icon-spinner icon-spin" style="font-size:16px"></i> Lade ....
    </div>

    <div ng-show="data">
        <h2 ng-show="!data.mitteilung.id">Mitteilung hinzufügen:</h2>
        <h2 ng-show="data.mitteilung.id">Mitteilung bearbeiten:</h2>

        <div class="btn-group">
            <a class="btn btn-primary" ng-click="save()">Speichern</a>
            <a class="btn btn-primary" ng-click="discard()">Verwerfen</a>
            <a class="btn btn-primary" ng-click="delete()" ng-show="data.mitteilung.id">Löschen</a>
        </div>

        <div class="control-group" ng-class="{ error: !data.mitteilung.titel }">
            <label class="control-label"><h4>Titel</h4></label>
            <div class="controls">
                <input type="text" size="30" class="span10" ng-model="data.mitteilung.titel" />
            </div>
        </div>
        <div class="control-group" ng-class="{ error: !data.mitteilung.text }">
            <label class="control-label"><h4>Text</h4></label>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#text" data-toggle="tab">Bearbeiten</a></li>
                <li><a href="#vorschau" data-toggle="tab" ng-click="generatePreview()">Vorschau</a></li>
                <li><a href="#currentV" data-toggle="tab">Aktuelle Version</a></li>
                <li><a href="#dateien" data-toggle="tab">Dateien</a></li>
                <li><a href="#creole" data-toggle="tab">Syntax Hilfe</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="text">
                    <div class="controls">
                        <textarea class="span10" rows="5" id="mitteilung-text" ng-model="data.mitteilung.text"></textarea>
                    </div>

                    <div>
                        <h4>Angehängte Dateien</h4>

                        <span ng-show="data.dateien.length === 0">
                            <i>Keine Dateien</i>
                        </span>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Bezeichnung</th>
                                    <th>Datei Name</th>
                                    <th>Grösse</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="datei in data.dateien">
                                    <td></td>
                                    <td>
                                        <a href="/Content/File/{{ datei.id | documentIdPart }}" target="_blank" rel="noopener">
                                            {{ datei.bezeichnung }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ datei.dateiName }}
                                    </td>
                                    <td>
                                        {{ datei.size | bytes }}
                                    </td>
                                    <td>
                                        <button class="btn" title="Löschen" ng-click="deleteFile(datei)" tooltip><i class="icon-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        Datei hochladen:
                        <input type="file" select-ng-files ng-model="uploadFiles" />
                        <input type="text" ng-model="uploadFileBezeichnung" placeholder="Beschreibung" />
                        <input type="button" value="hinzufügen" ng-click="uploadFile()" />
                    </div>

                    <h4>Termine</h4>

                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 220px">Titel</th>
                                <th style="width: 170px">Start</th>
                                <th style="width: 170px">Ende</th>
                                <th>Text</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="termin in data.termine">
                                <td>
                                    <input type="text" ng-model="termin.titel" placeholder="Neuer Termin" />
                                </td>
                                <td>
                                    <date-time-picker datum="termin.startDatum"></date-time-picker>
                                </td>
                                <td>
                                    <date-time-picker datum="termin.endDatum"></date-time-picker>
                                </td>
                                <td>
                                    <textarea rows="2" ng-model="termin.text" style="min-width: 300px"></textarea>
                                </td>
                                <td>
                                    <button class="btn" title="Löschen" ng-click="deleteTermin(termin)" tooltip><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn" ng-click="addTermin()">Termin hinzufügen</a>
                </div>
                <div class="tab-pane" id="vorschau">
                    <div class="creole-preview" ng-bind-html="preview"></div>
                </div>
                <div class="tab-pane" id="currentV">
                    <div class="creole-preview" ng-bind-html="originalHtml">
                    </div>
                </div>
                <div class="tab-pane" id="dateien">
                    <dateien on-link-insert="insert(link)"></dateien>
                </div>
                <div class="tab-pane" id="creole">
                    <syntax-help></syntax-help>
                </div>
            </div>

            <br />
        </div>

    </div>
</div>