<div>
    <div class="btn-group">
        <button class="btn btn-primary" ng-show="seite.revision === -1" ng-click="save()">erstellen</button>
        <button class="btn btn-primary" ng-show="seite.revision >= 0" ng-click="save()">speichern</button>
        <span class="btn disabled"><b>Revision:</b> {{ seite.revision >= 0 ? seite.revision : 'neu' }}</span>
    </div>

    <br /><br />

    <div>
        <textarea class="creole-input" id="site-text" wrap="soft" ng-model="seite.text" ng-change="generatePreview()" ng-model-options="{ debounce: 400 }"></textarea>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#vorschau" data-toggle="tab" ng-click="generatePreview()">Vorschau</a></li>
        <li><a href="#currentV" data-toggle="tab">Aktuelle Version</a></li>
        <li><a href="#dateien" data-toggle="tab">Dateien</a></li>
        <li><a href="#creole" data-toggle="tab">Syntax Hilfe</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane renderContent active" id="vorschau">
            <div ng-bind-html="preview"></div>
            <br />
            <!--<div class="alert alert-warning" role="alert">
                Noch nicht gespeichert
            </div>-->
        </div>
        <div class="tab-pane renderContent" id="currentV">
            <div ng-bind-html="html"></div>
            <br />
        </div>
        <div class="tab-pane" id="creole">
            <syntax-help></syntax-help>
        </div>
        <div class="tab-pane" id="dateien">
            <dateien on-link-insert="insert(link)"></dateien>
        </div>
    </div>
</div>