@{
    ViewBag.Title = "Index";
}

<h2>Neuigkeiten</h2>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Neue Mitteilung hinzufügen", "AddNews", new { @class = "btn" })
}

<mitteilungen></mitteilungen>