@{
    ViewBag.Title = "Index";
}

<h2>Neuigkeiten</h2>

@if (User.IsInRole("admin"))
{
    <a class="btn" href="/Aktuelles/EditMitteilung">Neue Mitteilung hinzufügen</a>
    <br /><br />
}

<mitteilungen></mitteilungen>