@model AikidoWebsite.Web.Models.StundenplanModel

@{
    ViewBag.Title = "Trainingszeiten";
}

<h2>Trainingszeiten</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Morgen</td>
            <td>
                <!-- ko with: montag.morgen -->
                    <strong data-bind="text: titel"></strong><br />
                    ( <span data-bind="text: getStartTimeString"></span> - <span data-bind="text: getEndTimeString"></span> )<br /><br />

                    <span data-bind="text: bezeichnung"></span>
                <!-- /ko -->
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@section Footer {
    <script type="text/javascript">
        var viewModel = new ViewModel();

        function Block(data) {
            var self = this;

            self.startzeit = ko.observable(moment(data.Startzeit).toDate());
            self.endzeit = ko.observable(moment(data.Endzeit).toDate());
            self.titel = ko.observable(data.Titel);
            self.bezeichnung = ko.observable(data.Bezeichnung);

            self.getStartTimeString = ko.computed(function () {
                return moment(self.startzeit).format("hh:mm");
            });

            self.getEndTimeString = ko.computed(function () {
                return moment(self.endzeit).format("hh:mm");
            });
        }

        function Tagesplan(data) {
            var self = this;

            self.morgen = new Block(data.Morgen);
            self.nachmittag = new Block(data.Nachmittag);
            self.abend = new Block(data.Abend);
        }

        function ViewModel() {
            var self = this;

            self.editable = ko.observable(false);

            // Load Data
            var data = JSON.parse('@Html.Raw(Json.Encode(Model))');
            self.montag = new Tagesplan(data.Plan.Montag);
            self.dienstag = new Tagesplan(data.Plan.Dienstag);
            self.mittwoch = new Tagesplan(data.Plan.Mittwoch);
            self.donnerstag = new Tagesplan(data.Plan.Donnerstag);
            self.freitag = new Tagesplan(data.Plan.Freitag);
            self.editable(data.Editable);

        }

        ko.applyBindings(viewModel);

    </script>


}