@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<h3>Partnerdojos:</h3>
<ul>
    <li><a href="http://www.aikido-luzern.ch/">Aikido Luzern</a></li>
    <li><a href="http://www.aikido-glarnerland.ch/">Aikido Glanerland</a></li>
    <li><a href="http://www.aikido-zuerich.ch/">Aikido Zürich</a></li>
    <li><a href="http://www.dojozuerich6.ch/">Dojo Zürich 6</a></li>
    <li><a href="http://www.ai-ki-do.org/">California Aikido Association</a></li>
</ul>

<h3>Aikido Websites:</h3>
<ul>
    <li><a href="http://www.aikido-world.com/">Aikido World Web Journal</a></li>
    <li><a href="http://www.aikido.com/">Aikido.com</a></li>
    <li><a href="http://www.aikiweb.com/">Aikiweb</a></li>
    <li><a href="http://www.aikido.ch/">Aikido in Switzerland</a></li>
    <li><a href="http://www.aikidojournal.com/">Aikido Journal</a></li>
</ul>

<h3>Dojo Suchmaschinen:</h3>
<ul>
    <li><a href="http://www.aikido.ch/">Dojo Liste Schweiz</a></li>
    <li><a href="http://www.aikiweb.com/search/">AikiWeb Dojo Suchmaschine (weltweit)</a></li>
</ul>