@{
    ViewBag.Title = "Techniken";
}

<h2>Techniken</h2>

<ul>
    <li><a href="http://www.youtube.com/results?search_query=frank+doran+aikido">YouTube Videos von Frank Doran Shihan</a></li>
    <li><a href="https://www.youtube.com/results?search_query=miles+kessler+aikido">YouTube Videos von Miles Kessler Sensei</a></li>
    <li><a href="http://www.ibudokan.com/">Apps von Miles Kessler Sensei (iOS und Android)</a></li>
</ul>