@model IEnumerable<AikidoWebsite.Web.Models.PhotoSetModel>

@{
    ViewBag.Title = "Bilder";
}

<h2>Bildergallerien</h2>

<br />

<div style="overflow-x: auto; white-space: nowrap;">
    <!-- ko foreach: galleries -->
    <div style="display: inline-block; height: 100px; width: 100px; background-size: cover; text-align: center; margin-left: 10px; cursor: pointer;" data-bind="click: function() { $root.setGallery($data); }, style: { backgroundImage: 'url(\'' + ThumbnailUrl + '\')' }">
        <span data-bind="text: Titel" style="color: white; text-shadow: 15px 15px 15px black; background: rgba(0,0,0,0.1); overflow: hidden;"></span><br />
    </div>
    <!-- /ko -->
</div>

<h3 data-bind="text: activeGallery().Titel"></h3>

<p data-bind="text: activeGallery().Beschreibung">
</p>

<br />

<table style="position: relative; left: -15px;">
    <tr>
        <td data-bind="click: prevImage" style="cursor: pointer;">
            <span class="icon-arrow-left"></span>
        </td>
        <td>
            <img id="image" />
        </td>
        <td data-bind="click: nextImage" style="cursor: pointer;">
            <span class="icon-arrow-right"></span>
        </td>
    </tr>
</table>

URL zum Album: <a href="#" data-bind="attr: { href: activeGallery().Link} , text: activeGallery().Link" target="_blank"></a>

@section Footer {
    <script type="text/javascript">
        //function changeImage(imageUrl) {
        //    $("#image").attr("src", imageUrl);
        //}

        var viewModel = new ViewModel(@Html.Raw(Json.Encode(Model)));

        function ViewModel(model) {
            var self = this;

            self.galleries = model;
            self.activeGallery = ko.observable();
            self.photos = ko.observableArray([]);
            self.photoIndex = ko.observable(0);

            self.photoIndex.extend({ notify: 'always' });

            self.loadPhotos = function () {
                $("#image").attr("src", "/Content/images/loading.gif");

                $.ajax("/Dojo/ListBilder", {
                    type: "GET",
                    dataType: "json",
                    data: "id=" + self.activeGallery().PhotosetId,
                    success: function (data, status, jqXHR) {
                        self.photos(data);
                        self.photoIndex(0);
                    },
                    error: function (jqXHR) {
                        alert("Irgendwas ist schief gegangen");
                    }
                });
            };

            self.activeGallery.subscribe(function (ctx) {
                self.loadPhotos();
            });

            self.photoIndex.subscribe(function (ctx) {
                $("#image").attr("src", self.photos()[self.photoIndex()].ImageURL);
            });

            self.setGallery = function (gallery) {
                self.activeGallery(gallery);
            };

            self.isFirst = function () {
                return self.photoIndex() === 0;
            };

            self.isLast = function () {
                return (self.photoIndex() + 1) === self.photos().length;
            };

            self.prevImage = function () {
                self.photoIndex(self.isFirst() ? self.photos().length - 1 : self.photoIndex() - 1);
            };

            self.nextImage = function () {
                self.photoIndex(self.isLast() ? 0 : self.photoIndex() + 1);
            };

            self.activeGallery(self.galleries[0]);
        }

        ko.applyBindings(viewModel);
    </script>
}