@if(Request.IsAuthenticated) {
    <text>Willkommen, <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Abmelden", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Anmelden", "LogOn", "Account") ]
}

<a href="#">News</a><br />
<a href="#">Kalender</a><br />
<a href="#">Über Aikido</a><br />
<a href="#">Das Dojo</a><br />
<a href="#">Die Lehrer</a><br />
<a href="#">Einführungskurs</a><br />