<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Aktuelles</li>
        <li>@Html.ActionLink("Neuigkeiten", "Index", "Aktuelles")</li>
        <li>@Html.ActionLink("Termine", "Termine", "Aktuelles")</li>
        <li class="nav-header">Über Aikido</li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Aikido Glossar</a></li>
        <li><a href="#">Techniken</a></li>
        <li class="nav-header">Das Dojo</li>
        <li><a href="#">Trainingszeiten</a></li>
        <li><a href="#">Einführungskurse</a></li>
        <li><a href="#">Bilder</a></li>
        <li><a href="#">Weg zum Dojo</a></li>
        <li><a href="#">Aikido Velos</a></li>
    </ul>
</div>
