@{
    ViewBag.Title = "Impresum";
}

<h2>Impresum</h2>

Aikido Sursee<br />
Allmendstrasse 11<br />
6210 Sursee<br />

<p /><p />

<b>Sekretariat:</b><br />
Priska Gut<br />
Ottilienstrasse 5<br />
6018 Buttisholz<br />

<p />

<b>Webmaster:</b><br />
Christoph Enzmann<br />
Weijnberglistrasse 33<br />
6005 Luzern<br />