@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<h2>Datei nicht gefunden</h2>

Leider konnte der Pfad '<i>Request.Params["aspxerrorpath"]</i>' nicht gefunden werden.
